#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  padding: 10px;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  width: 5em;
  left: 80%;
  top: 60%;
}

.fit {
  max-width: 99%;
  max-height: 99%;
}

.textq{
  height: 20px;
}

input {
    color: black;
    -webkit-text-fill-color: black
}