<!DOCTYPE html>
<html>
<head>
    <title>Simpel Billed Quiz!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/dragable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/picture.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ontest.js') }}"></script>
</head>
<body id="body" onload="dragElement(document.getElementById('mydiv'));">
<div class="content">
    <img class="fit" src="data:image/png;base64,{{ user_image }}" alt="img_data"  id="imgslot"/>
</div>

<button id="start" class="btn" onclick="quiz()">Start Quiz</button>


<div id="mydiv" >
    <div id="mydivheader">Træk mig</div>

    <input type="text" id="question" onkeypress="onTestChange(this);" class="textq">

    <button id="btn" style="background-color: silver; width: 100%" onclick="remember()">Placer Her</button>
</div>

</body>
</html>